* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #eee;
    font-family: Open Sans, sans-serif;
}

nav {
    background: white;
}

nav i {
    padding: 0 10px;
    margin-top: 5px;
    float: right;
    font-size: 17px;
    color: forestgreen;
    background: none;
    border: none;
    align-self: center;
} 

nav .searchbar {
    height: 40px;
    border: 0.5px solid #eee;
    box-shadow: 0 1px 1px #eee;
    border-radius: 5px;
}

nav ::-webkit-input-placeholder {
    padding: 7px;
    opacity: 70%;
}

nav a.navbar-brand {
    font-family: Roboto Slab, serif;
    font-weight: 400;
    font-size: 2em;
    margin-right: 16px;
    color: forestgreen;
}

nav form button {
    padding: 0 10px;
    color: forestgreen;
    font-size: 17px;
    background: none;
    border: none;
    cursor: pointer;
}

img {
    width: 30%;
    height: auto;
}

#section-a-head {
    margin: 30px 2em 1em 2em;
}

h5, #section-a-head button {
    font-weight: 700;
    color: #9c9c9c;
    display: inline-block;
}

.view-switch {
    float: right;
}

#section-a-head button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 2px 2px;
    padding: 2px 5px;
}

#section-a-head button:hover {
    background-color: rgb(221, 221, 221);
}

#section-a-head button.active {
    background-color: #9c9c9c;
    color: #eee;
}

#section-a {
    padding: 0 1em;
    margin-left: 0;
    margin-bottom: 3em;
}

#section-a ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#section-a li {
    margin-bottom: 1em;
    background: white;
    color: #3f3f3f;
    justify-content: space-around;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    border: none;
}

.card-content {
    padding: 1.5em;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 10px rgb(168, 168, 168);
}

#section-a .btn {
    background-color: white;
    font-weight: 600;
    color: forestgreen;
    border: 2px solid forestgreen;
}

#section-a .btn:hover {
    font-weight: 600;
    color: white;
    background-color: forestgreen;
    border: 2px solid forestgreen;
}

footer {
    padding: 1em 1em 0.5em 1em;
    text-align: center;
    background-color: darkslategray;
    color: white;
    font-size: 16px;
    left: 0 ; right: 0; bottom: 0; 
}

footer a {
    text-decoration: none;
    color: lightgreen;
}

footer a:hover {
    text-decoration: none;
    color: lightgreen;
    font-weight: bold;
}

footer #copyright {
    font-size: 12px;
    vertical-align: middle;
}

.jumbotron h1 {
    color: forestgreen;
    font-family: Roboto Slab, serif;
    font-weight: 100;
}

.jumbotron .btn-primary {
    border: 1px solid forestgreen;
    background: none;
    color: forestgreen;
}

@media (max-width: 598px) {
    nav a.navbar-brand {
        display: none;
    }
}

@media (min-width: 598px) {
    #section-a-head {
        margin: 30px 5em 0 3.5em;
    }

    #section-a ul {
        display: flex;
        flex-wrap: wrap;
    }

    #section-a li {
        width: 44%;
        margin: 1em;
    }
}

@media (min-width: 992px) {
    #section-a li {
        width: 30%;
        margin: 1em;
    }
}

@media (min-width: 1200px) {
    #section-a li {
        width: 22%;
        margin: 1em;
    }
}